#myCan{
    border: 1px solid black;
}
#canvasout {
    display: none;
}

@font-face {
    font-family: Beyno;
    src: url(Beyno.otf);
  }

@font-face {
    font-family: Akagu;
    src: url(Akagu.ttf) format('truetype');
}
